@charset "UTF-8";
/* CSS Document */



#black {
	background-image:url(images/bg-black.jpg);
	background-position:center;
}

#blue {
	background-image:url(images/bg-blue_02.jpg);
	background-position:center;
}

#no-padding {
	padding:0; 
}

.no-padding {
	padding:0; 
}

#yes-padding {
	padding:15px; 
}

.yes-padding {
	padding:15px; 
}

#shim {
	padding:0 30px 0 30px;
	position:relative;
	top:-60px;
	border-top:5px solid #42baed;
}

.shim-2 {
	position:relative;
	padding:0 0 0 50px;
	overflow:hidden;
	float:left;
	width:230px;
}

#shim h2 {
	text-align:center;
	font-family: 'Open Sans Condensed';
	font-weight:700;
	font-size:42px;
	letter-spacing:1px;
	text-shadow: 0px 2px 0 #000;
	margin:10px 0 10px 0;
}

#arrow {
	width:24px;
	height:100%;
	margin: 0 0 15px 120px;
	position:relative;
}

#shim h3 {
	font-family: 'Open Sans Condensed';
	font-weight: 700;
	color:#42baed;
	text-decoration:none;
	text-transform:uppercase;
	letter-spacing:1px;
	font-size:24px;
	margin:0;
}

p {
	font-family: 'Open Sans';
	font-size:16px;
	line-height:23px;
	font-weight:400;
	margin:0 0 20px 0;
}

.shadow {
-moz-box-shadow: 0 0 15px 2px #000;
-webkit-box-shadow: 0 0 15px 2px #000 ;
}

.left-icon {
	width:18px;
	height:18px;
	float:left;
}

#icon-links {
	position:absolute;
	margin: 8px 0 0 12px;
}

#icon-launch {
	position:absolute;
	margin: 130px 0 0 -267px;
}

#icon-map {
	position:absolute;
	margin: 275px 0 0 -264px;
}

#icon-data {
	position:absolute;
	margin: 444px 0 0 -264px;
}



/*------------------------- LINKS PAGE  ------------------- */

#purchase {
	width:120px;
	position:relative;
	top:-60px;
	left:40px;
}