@charset "UTF-8";
/* CSS Document */



#black {
	background-image:url(images/bg-black.jpg);
	background-position:center;
}

#blue {
	background-image:url(images/bg-blue_02.jpg);
	background-position:center;
}

#no-padding {
	padding:0; 
}

#shim {
	padding:0 30px 0 30px;
	position:relative;
	top:-60px;
	border-top:5px solid #42baed;
}

.shim-2 {
	position:relative;
	width: 240px;
	float:right;
	display:block;
}

#shim h2 {
	text-align:center;
	font-family: 'Open Sans Condensed';
	font-weight:700;
	font-size:42px;
	letter-spacing:1px;
	text-shadow: 0px 2px 0 #000;
}

#shim h3 {
	font-family: 'Open Sans Condensed';
	font-weight: 700;
	color:#42baed;
	text-decoration:none;
	text-transform:uppercase;
	letter-spacing:1px;
	font-size:24px;
	margin:0;
}

p {
	font-family: 'Open Sans';
	font-size:16px;
	line-height:23px;
	font-weight:400;
	margin:0 0 20px 0;
}

.shadow {
-moz-box-shadow: 0 0 15px 2px #000;
-webkit-box-shadow: 0 0 15px 2px #000 ;
}

.left-icon {
	width:24px;
	height:24px;
	left:10px;
	top:8px;
	position:relative;
	float:left;
}

.100 {
	width: 320px;
	height:100%;
	display:block;
	overflow:hidden;
	position:relative;
}|
